@import "tailwindcss" theme(static);
@import "@nuxt/ui";

/* Quill editor theme – chargement global pour icônes et zone d’édition dans les modales */

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --color-blue-50: #eff8fc;
  --color-blue-100: #d9eff8;
  --color-blue-200: #b3dff1;
  --color-blue-300: #7dc4e6;
  --color-blue-400: #48aad9;
  --color-blue-500: #2ca3d9;
  --color-blue-600: #2083b4;
  --color-blue-700: #1c6a93;
  --color-blue-800: #1c5677;
  --color-blue-900: #1a475f;
  --color-blue-950: #0f2d3d;
}
